body {
    background-color: rgb(209, 226, 240);
}
#main-container {
    display: flex;
    flex-direction: column;
    margin: 5em;
}

#video-and-chat-container {
    display: flex;
    flex-direction: row;

    /* min-height: 40rem; */
    justify-content: center;
}

#video-and-chat-container>iframe {
    /* flex: 1; */
    /* min-height: 50rem; */
    width: 100%;
    height: auto;
    border-radius: 3em;
    overflow: hidden;
}


#chat-container {
    display: flex;
    flex-direction: column;

    margin-left: 5em;
    /* align-items: center; */
    justify-content: center;

    background-color: white;
    border-color: black;
    border-radius: 3em;
    border-width: .3em;
    border-style: solid;

    min-height: 40rem;
    max-height: 40rem;
    min-width: 20em;
    max-width: 20em; 
}

#chat-title {
    margin: 1rem;
    border-radius: 1rem;
    border-color: black;
    border-style: solid;

    text-align: center;
    font-size: xx-large;

    background-color: rgb(193, 150, 236);
}

#chat-box {
    flex: 1;
    margin-bottom: 1rem;

    border-radius: 1rem;
    padding: 1em;
    /* background-color: black; */

    overflow-y: auto;
    /*For Firefox*/
    scrollbar-width: thin;
    scrollbar-color: rgb(83, 123, 255) rgb(179, 192, 235);
}
#chat-box::-webkit-scrollbar {
    width: .4em;
}
#chat-box::-webkit-scrollbar-track {
    background-color: rgb(179, 192, 235);
    border-radius: .3em;
}
#chat-box::-webkit-scrollbar-thumb {
    background-color: rgb(83, 123, 255);
    border-radius: .3em;
}
#chat-box::-webkit-scrollbar-thumb :hover {
    cursor: all-scroll;
}

.chat-item{
    display: flex;
    flex-direction: row;
    margin-bottom: .5em;
    padding: .5em;

    border-top: .2em;
    border-bottom: .2em;
    border-left: 0em;
    border-right: 0em;
    border-radius: .3em;
    border-style: solid;
    border-color: rgb(162, 173, 183);
}

.chat-item-content{
    word-break: break-word;
    white-space: pre-wrap;
}

.chat-item-timestamp {
    margin-right: 2em;
    word-break: keep-all;
}

#chat-input-container {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1em;
}

#chat-text-input{
    flex: 6;
    min-height: 4em;

    /* border-style: hidden; */
    border-radius: .5em;
    padding-top: .5em;
    padding-left: .5em;

    overflow: auto;
    resize: none;

    word-wrap: break-word;
    /*For Firefox*/
    scrollbar-width: thin;
    scrollbar-color: rgb(83, 123, 255) rgb(179, 192, 235);
}
#chat-text-input::-webkit-scrollbar {
    width: 3px;
}
#chat-text-input::-webkit-scrollbar-track {
    background-color: rgb(179, 192, 235);
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#chat-text-input::-webkit-scrollbar-thumb {
    background-color: rgb(83, 123, 255);
    border-radius: 2px;
    cursor: pointer;
}

#chat-send-button {
    flex: 1;
    margin-left: 1em;

    min-height: 60px;
    min-width: 60px;
    border-style: none;

    /* background-color: white; */
    background: url("./Resources/Images/chat-bubble.png") no-repeat scroll 0 0 transparent;
    color: #000000;
}

#chat-send-button:hover {
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    #main-container {
        margin: 2em;
    }
    
    #video-and-chat-container>iframe {
        height: 35em;
    }
    
    #chat-container {
        min-height: 35em;
        max-height: 35rem;
    }
}

@media only screen and (max-width: 768px) {
    #main-container {
        margin: 1em;
    }
    
    #video-and-chat-container {
        flex-direction: column;
        /* align-items: center; */
    }

    #video-and-chat-container>iframe {
        height: 25em;
    }

    #chat-container {
        margin: 0;
        margin-top: 3em;
        min-width: 0em;
        max-width: none;

        min-height: 0em;
        max-height: 25rem;
    }
}

#user-area-container {
    display: flex;
    flex-direction: row;

    margin-top: 2em;

    border: 0;
    border-top: .5em;

    border-radius: 7em;
    border-style: solid;
    border-color: rgb(162, 173, 183);
    justify-content: center;

    flex-wrap: wrap;
}

.user-container {
    display: flex;
    align-items: center;
    margin: 2rem;
    padding: .5rem;
    box-shadow: rgb(162, 173, 183) .3em .3em .5em .2em;
    border-radius: 1em;
}

.user-container>img {
    max-width: 5rem;
    margin-right: 1rem;

    border-radius: 1em;
}

.user-container>a {
    text-decoration: none;
    color: #000000;
    font-size: x-large;
}

@media only screen and (max-width: 1024px) {
    .user-container {
        margin: 1em;
        margin-left: 1em;
    }
}

@media only screen and (max-width: 769px)  {
    .user-container {
        margin: 1em;
        margin-left: 4em;
    }

}

@media only screen and (max-width: 425px) {
    #user-area-container {
        border-radius: 3em;

        padding-top: .5em;
    }
    
    .user-container {
        margin: .5em;
    }

    .user-container>a {
        font-size: large;
    }
}